@import "tailwindcss";
@plugin "daisyui" {
  themes: garden --default, black --prefersdark;
}

@keyframes bubble-screen {
  0% {
    top: 10%;
    left: 10%;
  }
  20% {
    top: 30%;
    left: 50%;
  }
  40% {
    top: 60%;
    left: 20%;
  }
  60% {
    top: 70%;
    left: 60%;
  }
  80% {
    top: 40%;
    left: 50%;
  }
  100% {
    top: 10%;
    left: 10%;
  }
}

.animate-bubble-screen {
  animation: bubble-screen 5s ease-in-out infinite;
}

.perspective {
  perspective: 1000px;
}
.transform-style {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

