@import "tailwindcss";
@plugin "daisyui" {
  themes: garden --default, black --prefersdark;
}

@keyframes bubble-screen {
  0% {
    top: 10%;
    left: 10%;
  }
  20% {
    top: 30%;
    left: 45%;
  }
  40% {
    top: 60%;
    left: 20%;
  }
  60% {
    top: 75%;
    left: 35%;
  }
  80% {
    top: 40%;
    left: 45%;
  }
  100% {
    top: 10%;
    left: 10%;
  }
}

.animate-bubble-screen {
  animation: bubble-screen 5s ease-in-out infinite;
}

.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  filter: blur(0);
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  filter: blur(0);
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

